body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #f4f5f8;
}
.content {
  text-align: center;
}

header {
  color: #ffffff;
  background-color: #2b3947;
  min-height: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  gap: 1em;
  margin: 3em auto 0 auto;

  padding: 1em 0;
  max-width: 90%;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.destinations {
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.trip-selection-wrapper {
  display: flex;
  gap: 0.7em;
}

.trip-selection {
  display: flex;
  align-items: center;
  font-size: 16px;
}

input[type="radio"] {
  margin: 0 0.5em 0 0;
  border: 0px;
  height: 1.2em;
}

.dates {
  gap: 1em;
  display: flex;
  flex-direction: column;
}
input {
  background-color: #f4f6f8;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 0.5em;
}
button {
  background-color: #e81932;
  color: #ffffff;
  font-weight: bolder;
  font-size: 18px;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
}
